<div class="modal fade" id="modalGroupChat" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tạo nhóm</h5>         
      </div>
      <div class="modal-body">
        <div class="input-group search-users-new-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm người dùng" id="search-users-new-group">
          <div class="input-group-append">
            <button class="btn btn-light border-secondary" id="btn-search-users-new-group"><i class="fas fa-search"></i></button>
          </div>
        </div>
       <div class="row" style="height:90%">
         <div class="col-12 col-lg-6" style="border-right:1px solid lightgrey">                         
            <ul class="list-users" id="list-users-searching">
             
            </ul>                         
        </div>
          
         <div class="col-12 col-lg-6" >
          <div class="row" style="margin-top:0.5rem">
            <div class="col-12 col-lg-8 mb-3">
             <input type="text" class="form-control" placeholder="Nhập tên nhóm" id="input-create-new-group" style="font-size:.9em;height:2rem"> 
            </div>                         
            <div class="col-12 col-lg-4 mb-3">
              <button class="btn btn-primary btn-sm" id="btn-create-new-group">Tạo nhóm</button>
            </div>
           </div>
          <ul class="list-users" id="list-users-group">
            
           </ul>                    
         </div>
       </div> 
      </div>     
    </div>
  </div>
</div>