@keyframes animate-fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes notification-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-contact {
  0% {
    top: 8px;
    height: 2.5rem;
  }
  50%, 100% {
    top: 24px;
    height: 1.25rem;
  }
}

