.bg-transparent{
  background-color : $color-transparent;
}

.text-default{
  color : $color-black;
}

.circle{
  border-radius: 50%;
}

.google{
  display : inline-block;
  text-align:center;
  background-color : $color-google-plus;
  color : $color-white;
  width : 3rem;
  height : 3rem;
  position : relative;
  float : left ; 
  margin-right : 2rem;
  &:hover{
    text-decoration: none;    
    background-color : #d62e18;
    color : $color-white;
  }
  & i{
    position:absolute;
    left : 50%; 
    top : 50%;
    transform : translate(-50%, -50%);
  }
}

.facebook{
  display : inline-block;
  text-align:center;
  background-color : $color-facebook;
  color : $color-white;
  width : 3rem;
  height : 3rem;
  position : relative;
  float : left ;
  &:hover{
    text-decoration: none;    
    background-color : $color-facebook-dark;
    color : $color-white;
  }
  & i{
    position:absolute;
    left : 50%; 
    top : 50%;
    transform : translate(-50%, -50%);
  }
}

.bg-primary-dark{
  background-color : $color-primary-dark;
}
.bg-navbar-fb{
  background-color : $color-navbar-fb;
}

.hr-notification{
  padding : 0 ;
  margin : 0rem -0.5rem;
}

.animate-fade{
  animation: animate-fade .5s ease-out ;
}