<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContact" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Quản lý liên lạc</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <nav class="nav nav-tabs" role="tablist">
          <a href="#search-users" class="nav-item nav-link active" data-toggle="tab" role="tab" aria-controls="search-users" aria-selected="true">Tìm người dùng</a>
          <a href="#contacts" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="contacts" aria-selected="false">Danh sách liên lạc</a>
          <a href="#link-request-contact-sent" class="nav-item nav-link" role="tab" data-toggle="tab" aria-controls="link-request-contact-sent" aria-selected="false">Đang chờ xác nhận</a>
          <a href="#link-request-contact-received" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="link-request-contact-received" aria-selected="false">Yêu cầu kết bạn</a>
        </nav>
        <div class="tab-content">
          <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-search-user" id="search-users">
            <div class="search-users-box"  id="search-users-box">
              <div class="search-users-box__search-bar">                
                <div class="input-group">
                  <input type="text" class="form-control" id="input-search-users" placeholder="Tìm kiếm người dùng">
                  <span class="input-group-append">
                    <button class="btn btn-primary" id="btn-search-users">
                      <i class="fas fa-search"></i>
                    </button>
                  </span>
                </div>               
              </div>
              <div class="search-users-box__list-box">
                <ul class="search-users-box__list-users">
                             
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-contact" id="contacts">
            <div class="contact-box">
              <ul class="contact-list">
                <li class="contact-list__item">
                  <div class="card-user">
                    <div class="card-user__body">
                      <div class="card-user__body-avatar">
                        <img src="images/unknown_man.jpeg" class="card-user__body-avatar--image">
                      </div>
                      <div class="card-user__body-text">
                        <div class="card-user__body-text--username">
                          Nguyễn Hoàng Giang
                        </div>
                        <div class="card-user__body-text-address">
                          Cần Thơ
                        </div>
                      </div>
                    </div>
                    <div class="card-user__footer">
                      <button class="btn btn-success btn-sm">Trò Chuyện</button>
                      <button class="btn btn-danger btn-sm">Xóa Quan hệ bạn bè</button>
                    </div>
                  </div>
                </li>
                <li class="contact-list__item">
                  <div class="card-user">
                    <div class="card-user__body">
                      <div class="card-user__body-avatar">
                        <img src="images/unknown_woman.png" class="card-user__body-avatar--image">
                      </div>
                      <div class="card-user__body-text">
                        <div class="card-user__body-text--username">
                          Trần Ngọc Linh
                        </div>
                        <div class="card-user__body-text-address">
                          Vĩnh Long
                        </div>
                      </div>
                    </div>
                    <div class="card-user__footer">
                      <button class="btn btn-success btn-sm">Trò Chuyện</button>
                      <button class="btn btn-danger btn-sm">Xóa Quan hệ bạn bè</button>
                    </div>
                  </div>
                </li>
                <li class="contact-list__item">
                  <div class="card-user">
                    <div class="card-user__body">
                      <div class="card-user__body-avatar">
                        <img src="images/background1.jpg" class="card-user__body-avatar--image">
                      </div>
                      <div class="card-user__body-text">
                        <div class="card-user__body-text--username">
                          Mai Văn Quốc
                        </div>
                        <div class="card-user__body-text-address">
                          Cần Thơ
                        </div>
                      </div>
                    </div>
                    <div class="card-user__footer">
                      <button class="btn btn-success btn-sm">Trò Chuyện</button>
                      <button class="btn btn-danger btn-sm">Xóa Quan hệ bạn bè</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-request-contact-sent" id="link-request-contact-sent">
            <div class="request-contact-sent-box">
              <ul class="request-contact-sent-list">
                <li class="request-contact-sent-list__item">
                  <div class="card-user">
                    <div class="card-user__body">
                      <div class="card-user__body-avatar">
                        <img src="images/unknown_man.jpeg" class="card-user__body-avatar--image">
                      </div>
                      <div class="card-user__body-text">
                        <div class="card-user__body-text--username">
                          Nguyễn Hoàng Giang
                        </div>
                        <div class="card-user__body-text-address">
                          Cần Thơ
                        </div>
                      </div>
                    </div>
                    <div class="card-user__footer">
                      <button class="btn btn-danger btn-sm">Hủy yêu cầu</button>												
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-request-contact-received" id="link-request-contact-received">
            <div class="request-contact-received-box">
              <ul class="request-contact-received-list">
                <li class="request-contact-received-list__item">
                  <li class="request-contact-sent-list__item">
                    <div class="card-user">
                      <div class="card-user__body">
                        <div class="card-user__body-avatar">
                          <img src="images/unknown_man.jpeg" class="card-user__body-avatar--image">
                        </div>
                        <div class="card-user__body-text">
                          <div class="card-user__body-text--username">
                            Nguyễn Duy Tâm
                          </div>
                          <div class="card-user__body-text-address">
                            Long An
                          </div>
                        </div>
                      </div>
                      <div class="card-user__footer">
                        <button class="btn btn-success">Chấp nhận</button>
                        <button class="btn btn-danger btn-sm">Xóa yêu cầu</button>												
                      </div>
                    </div>
                  </li>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>				
    </div>
  </div>
</div>