<div class="initial-conversation">
  <div class="initial-conversation-top">
    <div class="initial-conversation-top__avatar">
      <img src="./public/images/person1.jpg" alt="avatar">
    </div>
    <div class="initial-conversation-top__content">
      <div class="initial-conversation-top__content--username">
        Mai Thang
      </div>
      <div class="initial-conversation-box__content--intro">
        Hãy bắt đầu cùng nhau chia sẻ những câu chuyện thú vị
      </div>
    </div>					
  </div>
  <div class="initial-conversation-bottom">
    <div class="initial-conversation-bottom__background">
      <img src="./public/images/bg_02.jpg">
    </div>
  </div>
</div>
