<div class="form__box">
  <form id="form-request-restore-password">
    <legend class="form__legend"><span>Quên mật khẩu</span></legend>
    <%- include("../alert/alert")  %>                          
  
    <div class="form-group">
      <label for="email-forgot">Địa chỉ email <span class="text-danger"></span></label>
      <input type="email" class="form-control" id="email-forgot" name="email" placeholder="Nhập Email của bạn" required>                
    </div>
    <div class="form-group">
      <label for="confirm-email-forgot">Xác nhận lại email:  <span class="text-danger"></span></label>
      <input type="email" class="form-control" id="confirm-email-forgot" name="confirm_email" placeholder="Nhập Email của bạn" required>                
    </div>
    <div class="form-group text-right">
      <div type="button" class="btn btn-primary" id="btn-restore-password">Tiếp theo</div>
    </div>

    <div class="form__footer">
      <div class="text-default">Chưa có tài khoản? - <a href="javascript:showRegisterForm()" onclick="">Đăng ký</a></div>
      <div class="text-default">Đã có tài khoản? - <a href="javascript: showLoginForm()">Đăng nhập</a></div>
    </div>
  </form>
</div>
