<div class="form__box">
  <form method="POST" action="/login">
    <legend class="form__legend"><span>Đăng nhập tài khoản</span></legend>
    <%- include("../alert/alert")  %>
    <div class="form__social-login">
      <a href="/auth/google" id="google-login" class="circle google" title="Đăng nhập bằng tài khoản google">
        <i class="fab fa-google-plus-g"></i>
      </a>
      <a href="/auth/facebook" id="fb-login" class="circle facebook" title="Đăng nhập bằng tài khoản facebook">
        <i class="fab fa-facebook-f"></i>
      </a>                  
    </div>
    <div class="clearfix"></div>
  
    <div class="form-group">
      <label for="email-login">Địa chỉ email <span class="text-danger"></span></label>
      <input type="email" class="form-control" id="email-login" name="email" placeholder="Nhập Email của bạn">                
    </div>
   
 
    <div class="form-group">
      <label for="password-login">Mật khẩu <span class="text-danger"></span></label>
      <input type="password" class="form-control" id="password-login" name="password" placeholder="Nhập mật khẩu">
    </div>
   
   
    <div class="form-group text-right">
      <button class="btn btn-primary">Đăng nhập</button>            
    </div>
    <div class="form__footer">
      <div class="text-default">Chưa có tài khoản? - <a href="javascript:showRegisterForm()" onclick="">Đăng ký</a></div>
      <div class="text-default">Quên mật khẩu? - <a href="javascript: showForgotPasswordForm()">Lấy lại mật khẩu</a></div>
    </div>
  </form>
</div>
