@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
.auth {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  line-height: 1.7;
  font-size: 1rem;
  position: relative;
  color: #fff; }

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: #F2F3F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-repeat: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  position: relative;
  color: #000; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  color: #1a449c; }

@keyframes animate-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes notification-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loading-contact {
  0% {
    top: 8px;
    height: 2.5rem; }
  50%, 100% {
    top: 24px;
    height: 1.25rem; } }

@keyframes gif-icon-dot1 {
  0% {
    opacity: 0; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

@keyframes gif-icon-dot2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes gif-icon-dot3 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes loading-read-more-messengers {
  0% {
    top: 8px;
    height: 2rem; }
  50%, 100% {
    top: 24px;
    height: 1.25rem; } }

@keyframes loading-search-user-new-group {
  0% {
    top: 8px;
    height: 64px; }
  50%, 100% {
    top: 24px;
    height: 32px; } }

@keyframes loading-read-more-conversations {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.bg-transparent {
  background-color: transparent; }

.text-default {
  color: #000; }

.circle {
  border-radius: 50%; }

.google {
  display: inline-block;
  text-align: center;
  background-color: #dd4b39;
  color: #fff;
  width: 3rem;
  height: 3rem;
  position: relative;
  float: left;
  margin-right: 2rem; }
  .google:hover {
    text-decoration: none;
    background-color: #d62e18;
    color: #fff; }
  .google i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.facebook {
  display: inline-block;
  text-align: center;
  background-color: #3b5998;
  color: #fff;
  width: 3rem;
  height: 3rem;
  position: relative;
  float: left; }
  .facebook:hover {
    text-decoration: none;
    background-color: #1a449c;
    color: #fff; }
  .facebook i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.bg-primary-dark {
  background-color: #070be6; }

.bg-navbar-fb {
  background-color: #4267b2; }

.hr-notification {
  padding: 0;
  margin: 0rem -0.5rem; }

.animate-fade {
  animation: animate-fade .5s ease-out; }

.text-dark-red {
  color: #d62e18; }

.card-unread {
  background-color: #DADDE1 !important; }

.user-active {
  background-color: #DADDE1; }
  .user-active:hover {
    background-color: #BEC3C9; }

.online {
  background-color: #26de81 !important;
  border-color: #26de81 !important; }

.avatar-online {
  border-color: #26de81 !important; }

.btn-text:link, .btn-text:visited {
  color: #fff;
  text-decoration: none; }

.btn-text:hover {
  color: #007bff;
  text-decoration: none; }

.btn-light-grey, .btn-light-grey:visited, .btn-light-grey:link {
  background-color: #DADDE1;
  color: #828282; }

.btn-light-grey:hover {
  background-color: #CCD0D5;
  color: #4A4A4A; }

.btn-create-group-chat {
  width: 2.25rem;
  height: 2.25rem;
  margin-left: 10px;
  border: 1px solid #2ECC71;
  background-color: #2ECC71;
  border-radius: 50%;
  padding: .75rem;
  color: #fff;
  position: relative; }
  .btn-create-group-chat:hover {
    color: #fff;
    background-color: #27ae60; }
  .btn-create-group-chat > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.btn-dark-grey {
  color: #373737 !important; }
  .btn-dark-grey:hover {
    color: #1C1C1C !important; }

.btn-link {
  font-weight: 400;
  color: #1a449c;
  text-decoration: none; }
  .btn-link:hover {
    color: #04266e; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
  background-color: #1a449c; }

.modal .modal-content {
  height: 600px;
  overflow: auto; }

.nav-link {
  padding: .5rem; }

.nav-link.active {
  background-color: #CCCCCC; }

.form__box {
  width: 80%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 3rem 6rem rgba(255, 255, 255, 0.2);
  min-height: 100%;
  max-height: 100%;
  overflow: auto; }

.form__legend {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: .5rem;
  color: #000;
  text-align: center; }

.form__label {
  color: #000 !important; }

.form__footer {
  text-align: center;
  font-size: .85em; }

.form__social-login {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1.5rem 0; }

.navigation {
  height: 100%;
  position: relative;
  padding: 0 1rem; }
  .navigation__input {
    width: 80%;
    align-items: center; }
    .navigation__input-control {
      padding: .15rem .75rem;
      height: calc(1em + .75rem); }
    .navigation__input-button {
      padding: .1rem .75rem;
      height: calc(1em + .75rem); }
  .navigation__nav-image {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%; }
  .navigation__nav-username {
    display: inline-block;
    margin-left: .5rem; }
  .navigation__nav-link {
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
    text-align: center; }
  .navigation__nav-item {
    font-size: 1.2rem;
    position: relative;
    width: 5rem; }
    .navigation__nav-item:last-child {
      width: 9rem; }
    .navigation__nav-item:hover {
      cursor: pointer;
      background-color: #1a449c; }
  .navigation__nav-notification-count {
    position: absolute;
    right: .2rem;
    top: 0rem;
    font-size: .75rem;
    background-color: #E1141E;
    padding: .05rem .1rem;
    border-radius: .2rem;
    color: #fff;
    width: 1.55rem;
    height: 1.5rem;
    text-align: center; }

.card-user {
  position: relative;
  padding: 1rem;
  border: 1px solid #CCCCCC;
  border-radius: .2rem;
  display: flex;
  justify-content: space-between; }
  .card-user__body {
    margin-bottom: .25rem;
    display: flex; }
    .card-user__body-avatar {
      float: left;
      margin-right: 1.2rem;
      width: 3.5rem;
      height: 3.5rem; }
      .card-user__body-avatar--image {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .card-user__body-text {
      font-size: 1rem;
      font-weight: 700; }
    .card-user__body-createdAt {
      font-size: .9rem;
      color: #828282;
      font-weight: 400; }
  .card-user__footer {
    display: flex;
    align-items: center; }
    .card-user__footer > button:not(:last-child) {
      margin-right: .5rem; }

.section-navbar {
  background-color: #4267b2 !important;
  height: 2.75rem;
  position: relative;
  padding: 0.5rem; }

.section-main {
  margin: 0;
  padding: 0;
  height: calc(100vh - 2.75rem); }

.left-side {
  height: 100%;
  overflow: auto;
  border-right: 1px solid #CCCCCC;
  margin: 0;
  padding: 0; }

.right-side {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

@media (max-width: 479px) {
  .form-label {
    text-align: left; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .form-label {
    text-align: left; } }

@media (min-width: 1024px) {
  .form-label {
    text-align: right; } }

.search-users-box__search-bar {
  margin: 1rem 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .search-users-box__search-bar {
      width: 100%; } }
  @media (min-width: 1024px) {
    .search-users-box__search-bar {
      width: 60%; } }

.search-users-box__list-box {
  margin-top: 1rem; }

.search-users-box__list-users {
  list-style: none; }
  .search-users-box__list-users-item {
    background-color: #DADDE1;
    margin-bottom: .75rem; }
    .search-users-box__list-users-item:hover {
      background-color: #CCD0D5; }

.search-users-box__read-more {
  display: none; }

.contact-list {
  list-style: none;
  margin-top: 1rem;
  border-radius: .2rem; }
  .contact-list__item {
    background-color: #DADDE1; }
    .contact-list__item:not(:last-child) {
      margin-bottom: .25rem; }
    .contact-list__item:hover {
      background-color: #CCD0D5; }

.request-contact-sent-list {
  list-style: none;
  margin-top: 1rem;
  border-radius: .2rem; }
  .request-contact-sent-list__item {
    background-color: #DADDE1; }
    .request-contact-sent-list__item:not(:last-child) {
      margin-bottom: .25rem; }
    .request-contact-sent-list__item:hover {
      background-color: #CCD0D5; }

.request-contact-received-list {
  list-style: none;
  margin-top: 1rem;
  border-radius: .2rem; }
  .request-contact-received-list__item {
    background-color: #DADDE1; }
    .request-contact-received-list__item:not(:last-child) {
      margin-bottom: .25rem; }
    .request-contact-received-list__item:hover {
      background-color: #CCD0D5; }

.general-setting {
  margin: 1.5rem 0; }
  .general-setting__update-avatar {
    text-align: center; }
    .general-setting__update-avatar-image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%; }
  .general-setting__update-text {
    text-align: center;
    margin: 1.5rem; }

.password-setting {
  margin: 1.5rem 0; }
  @media (max-width: 479px) {
    .password-setting__alert {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .password-setting__alert {
      width: 80%;
      margin: auto; } }
  @media (min-width: 1024px) {
    .password-setting__alert {
      width: 50%;
      margin: 0 10%; } }
  @media (max-width: 479px) {
    .password-setting__form-label {
      text-align: left; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .password-setting__form-label {
      text-align: left; } }
  @media (min-width: 1024px) {
    .password-setting__form-label {
      text-align: right; } }

.notification {
  position: absolute;
  top: 2.75rem;
  right: 1.5rem;
  width: 25rem;
  height: 30rem;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
  padding: .3rem .5rem;
  z-index: 99;
  display: none; }
  .notification__header {
    display: flex;
    justify-content: space-between; }
    .notification__header--link a:not(last-child) {
      margin-right: .5rem; }
  .notification__body {
    height: 88%;
    width: 100%;
    overflow: auto; }
  .notification::before {
    content: "";
    position: absolute;
    top: -1.75rem;
    right: 0;
    border: 1rem solid yellow;
    border-color: transparent transparent #fff transparent; }
  .notification a {
    color: #1a449c; }
  .notification-loading {
    display: none;
    position: relative;
    width: 3rem;
    height: 3rem;
    left: 50%;
    transform: translateX(-50%); }
    .notification-loading div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 2rem;
      height: 2rem;
      margin: .5rem;
      border: 0.25rem solid #1a449c;
      border-radius: 50%;
      animation: notification-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #1a449c transparent transparent transparent; }
      .notification-loading div:nth-child(1) {
        animation-delay: -0.45s; }
      .notification-loading div:nth-child(2) {
        animation-delay: -0.3s; }
      .notification-loading div:nth-child(3) {
        animation-delay: -0.15s; }

.card-notifications {
  position: relative;
  width: 100%;
  margin: .5rem 0; }
  .card-notifications__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .25rem;
    margin-left: .1rem;
    padding: .3rem;
    border-radius: .3rem; }
    .card-notifications__item:hover {
      cursor: pointer;
      background-color: #CCCCCC !important; }
  .card-notifications__avatar {
    margin: 0 .5rem; }
    .card-notifications__avatar-image {
      width: 3rem;
      height: 3rem;
      border-radius: 50%; }
  .card-notifications__text--primary {
    font-size: .8em; }
    .card-notifications__text--primary--username {
      font-weight: 700;
      color: #282828; }
  .card-notifications__text--sub {
    font-size: .7em;
    color: #828282; }
  .card-notifications__footer {
    text-align: center;
    font-size: 1rem; }

.left-side {
  background-color: #fff;
  height: 100%;
  overflow: auto; }
  .left-side__setting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin: .5rem 0;
    position: relative; }
    .left-side__setting::after {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 1px;
      margin: 0;
      background-color: #CCCCCC; }
  .left-side-conversations {
    height: calc(100% - 3.5rem); }
    .left-side-conversations__content {
      height: 100%; }
      .left-side-conversations__content-list {
        height: 100%; }
      .left-side-conversations__content-item {
        padding: 0;
        border-radius: .2rem; }
        .left-side-conversations__content-item:hover {
          background-color: #CCD0D5; }

.person {
  display: flex;
  font-size: .9em;
  padding: .6rem;
  border-radius: .15rem;
  color: #4A4A4A; }
  .person:hover {
    color: #4A4A4A;
    background-color: #CCD0D5; }
  .person__avatar {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid #d1ccc0;
    margin-right: .5rem; }
    .person__avatar-image {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
    .person__avatar--dot {
      position: absolute;
      bottom: 4%;
      right: 9%;
      width: .55rem;
      height: .55rem;
      border-radius: 50%;
      background-color: #d1ccc0; }
  .person__infor {
    flex-basis: 50%;
    margin-right: .5rem;
    width: 40%; }
    .person__infor--username {
      font-weight: 600; }
    .person__infor--messenger {
      opacity: .9;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%; }
  .person__config {
    flex-basis: 30%;
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    text-align: right; }
    .person__config--menu {
      display: none;
      position: absolute;
      width: 8rem;
      text-align: center;
      right: 45%;
      bottom: -17%;
      padding: .5rem 1rem;
      border-radius: .5rem;
      background-color: #4A4A4A;
      color: #f7f7f7;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
      z-index: 0; }
      .person__config--menu::before {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 92%;
        border: 1rem solid #4A4A4A;
        border-color: transparent transparent transparent #4A4A4A; }
      .person__config--menu div:hover {
        color: #fff;
        font-weight: 700; }
    .person__config--setting {
      display: inline-block;
      font-size: 1em;
      letter-spacing: .25rem;
      font-weight: bold;
      text-align: center;
      z-index: 1;
      display: none;
      transition: all .2s;
      margin-left: auto; }
      .person__config--setting-icon {
        width: 1.5rem;
        height: 1.5rem;
        opacity: .8; }
        .person__config--setting-icon:hover {
          transform: scale(1.1);
          opacity: 1; }
      @media (max-width: 479px) {
        .person__config--setting {
          width: 60%; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .person__config--setting {
          width: 40%; } }
      @media (min-width: 1024px) {
        .person__config--setting {
          width: 30%; } }
      .person__config--setting:hover {
        color: #000; }
    .person__config--time {
      font-size: .9em; }

.loading-read-more-conversations {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  height: 4rem; }

.loading-read-more-conversations div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin: 8px;
  border: 4px solid #3b5998;
  border-radius: 50%;
  animation: loading-read-more-conversations 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3b5998 transparent transparent transparent; }

.loading-read-more-conversations div:nth-child(1) {
  animation-delay: -0.45s; }

.loading-read-more-conversations div:nth-child(2) {
  animation-delay: -0.3s; }

.loading-read-more-conversations div:nth-child(3) {
  animation-delay: -0.15s; }

.list-messenger-users {
  margin-top: .1rem;
  list-style: none;
  margin-top: .5rem; }
  .list-messenger-users__item {
    display: flex;
    flex-wrap: nowrap;
    height: 5rem;
    padding: .75rem; }
    .list-messenger-users__item-avatar {
      align-self: center;
      flex-basis: 10%;
      width: 20%; }
      .list-messenger-users__item-avatar-image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%; }
    .list-messenger-users__item-text {
      flex-basis: 70%;
      width: 50%;
      padding: .25rem .5rem; }
      .list-messenger-users__item-text--username {
        font-weight: 700;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .list-messenger-users__item-text--chat {
        width: 100%;
        font-size: .9rem;
        color: #4A4A4A;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .list-messenger-users__item-timer {
      flex-basis: 30%;
      font-size: .7rem;
      color: #828282;
      align-items: center; }
    .list-messenger-users__item:hover {
      background-color: #CCD0D5;
      cursor: pointer; }

.right-side {
  background-color: #fff;
  height: 100%; }
  .right-side__screen {
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 10; }
  .right-side__top {
    background-color: #DADDE1;
    height: 8%;
    padding: .5rem 1.5rem; }
    .right-side__top--leftside {
      float: left; }
      .right-side__top--leftside-username {
        font-weight: 700; }
    .right-side__top--rightside {
      float: right; }
      .right-side__top--rightside-item:not(last-child) {
        margin-right: 1.5rem; }
    .right-side__top::after {
      content: "";
      clear: both;
      display: table; }
  .right-side__middle {
    height: 76%;
    padding: .5rem;
    width: 100%;
    position: relative; }
    .right-side__middle-content {
      border: 1px solid #CCCCCC;
      height: 100%;
      padding: .5rem 1.25rem;
      overflow: auto;
      position: relative; }
      .right-side__middle-content-avatar {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%; }
        .right-side__middle-content-avatar--me {
          top: 20%;
          right: -2rem; }
        .right-side__middle-content-avatar--you {
          top: 20%;
          left: -2rem; }
      .right-side__middle-content--me {
        float: right;
        margin-right: 2.5rem; }
        .right-side__middle-content--me.bubble a {
          float: right;
          margin: .5rem; }
      .right-side__middle-content--you {
        float: left;
        margin-left: 2.5rem; }
        .right-side__middle-content--you.bubble a {
          float: left;
          margin: .5rem; }
      .right-side__middle-content-messenger-text {
        padding: .5rem .75rem;
        border-radius: .5rem;
        display: inline-block; }
        .right-side__middle-content-messenger-text--you {
          background-color: #CCCCCC;
          color: #000;
          float: left; }
        .right-side__middle-content-messenger-text--me {
          background-color: #09f;
          color: #fff;
          float: right; }
  .right-side__bottom {
    height: 15%;
    margin: 0 0.5rem;
    padding: 0.05rem;
    border-radius: .2rem;
    background-color: #F2F3F5; }
    .right-side__bottom-write {
      width: 100%;
      height: 70%;
      font-size: 1rem;
      float: left;
      padding: 0 10px;
      color: #1a1a1a;
      border: 0;
      outline: none;
      background-color: #eceff1;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      resize: none; }
    .right-side__bottom-icons {
      height: 30%; }
      .right-side__bottom-icons-item {
        float: left;
        font-size: 1.25rem;
        color: #0392cf; }
        .right-side__bottom-icons-item a {
          color: #0392cf; }
        .right-side__bottom-icons-item label {
          cursor: pointer; }
        .right-side__bottom-icons-item:not(:last-child) {
          margin-right: 1rem; }
        .right-side__bottom-icons-item:hover {
          color: #0392cf !important; }

.bubble {
  max-width: 46%;
  word-wrap: break-word;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  clear: both;
  margin-top: .5rem;
  margin-bottom: .5rem;
  vertical-align: top;
  border-radius: .25rem; }
  .bubble-image-file {
    background-color: #fff; }
  .bubble-attachment-file {
    padding: 0;
    text-decoration: underline; }
    .bubble-attachment-file:hover {
      text-decoration: none; }
  .bubble-gif-icon {
    position: relative;
    bottom: -2rem;
    left: -3.25rem;
    background-color: #fff !important;
    color: #1a449c; }
    .bubble-gif-icon::before {
      background-color: transparent !important; }
    .bubble-gif-icon span {
      display: inline-block;
      font-size: .8em; }
    .bubble-gif-icon-dot {
      font-size: 1em;
      position: absolute; }
      .bubble-gif-icon-dot--1 {
        animation: gif-icon-dot1 1s;
        animation-iteration-count: infinite; }
      .bubble-gif-icon-dot--2 {
        animation: gif-icon-dot2 1s;
        animation-fill-mode: backwards;
        animation-delay: 1s;
        animation-iteration-count: infinite; }
      .bubble-gif-icon-dot--3 {
        animation: gif-icon-dot3 1s;
        animation-delay: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite; }

.show-image-file {
  max-width: 90%;
  max-height: 25rem; }

.screen-chat {
  height: 100%;
  width: 100%;
  background-color: #CCCCCC; }

.status-messenger {
  display: inline-block;
  margin: 0rem .3rem;
  font-size: .8em;
  color: #828282;
  font-style: italic; }
  .status-messenger--you {
    text-align: left; }
  .status-messenger--me {
    float: right;
    text-align: right; }
  .status-messenger--avatar {
    width: 1rem;
    height: 1rem;
    border-radius: 50%; }

.all-images {
  background-color: #DADDE1;
  height: 100%; }
  .all-images > img {
    background-color: transparent; }

.modal-attachment-libraries a {
  display: block;
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-left: 2rem; }

.loading-read-more-messengers {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  margin-bottom: 2rem; }

.loading-read-more-messengers div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #09f;
  animation: loading-read-more-messengers 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.loading-read-more-messengers div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s; }

.loading-read-more-messengers div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s; }

.loading-read-more-messengers div:nth-child(3) {
  left: 56px;
  animation-delay: 0; }

.emojionearea-button {
  opacity: 0 !important; }

.emojionearea-picker {
  position: absolute;
  left: 0; }

.emojionearea-wrapper::after {
  left: 0; }

.emojionearea.emojionearea-inline {
  font-size: 16px;
  float: left;
  width: 100%;
  height: 70%;
  padding: 0 10px;
  color: #1a1a1a;
  border: 0;
  background-color: #DADDE1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  outline: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important; }
  .emojionearea.emojionearea-inline > .emojionearea-editor {
    min-height: 40px;
    padding: 11px 0; }

.loading-ring {
  display: none;
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 40%;
  left: 50%;
  z-index: 999; }

.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin: .75rem;
  border: 4px solid #09f;
  border-radius: 50%;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #09f transparent transparent transparent; }

.loading-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.loading-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.loading-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes loading-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.modal-loading {
  /* The Modal (background) */
  position: fixed;
  /* Stay in place */
  z-index: 998;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */
  display: none; }

.loading-contact {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  left: 48%;
  transform: translateX(-50%); }
  .loading-contact div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: .9rem;
    background: #1a449c;
    animation: loading-contact 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
    .loading-contact div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s; }
    .loading-contact div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s; }
    .loading-contact div:nth-child(3) {
      left: 56px;
      animation-delay: 0; }

.initial-conversation {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7); }
  @media (max-width: 479px) {
    .initial-conversation {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .initial-conversation {
      width: 80%; } }
  @media (min-width: 1024px) {
    .initial-conversation {
      width: 45%; } }
  .initial-conversation-top {
    padding: .5rem;
    background-color: #F2F3F5; }
    .initial-conversation-top::after {
      content: "";
      clear: both;
      display: table; }
    .initial-conversation-top__avatar img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      float: left;
      margin-right: 1rem;
      vertical-align: middle; }
    .initial-conversation-top__content--username {
      font-size: 1.1em;
      font-weight: 600; }
    .initial-conversation-top__content--intro {
      font-size: .9em;
      color: #BEC3C9; }

.carousel-item img {
  height: 15rem;
  width: 100%; }

.list-users {
  list-style: none;
  margin-top: .5rem; }
  .list-users-item {
    height: 5rem;
    padding: 1rem .5rem; }
    .list-users-item:hover {
      border-radius: .2rem;
      background-color: #DADDE1; }
    .list-users-item__avatar {
      float: left;
      display: block;
      width: 3rem;
      height: 100%;
      margin-right: 1rem; }
      .list-users-item__avatar-image {
        border-radius: 50%;
        width: 100%;
        height: 100%; }
    .list-users-item__info {
      float: left; }
      .list-users-item__info-username {
        font-weight: 700; }
      .list-users-item__info-address {
        color: #828282; }
    .list-users-item__button {
      float: right;
      display: flex;
      height: 100%;
      align-items: center; }
      .list-users-item__button-add {
        font-size: .85em;
        background-color: #27ae60;
        color: #fff;
        padding: .2rem .5rem;
        border: none;
        border-radius: .25rem; }
        .list-users-item__button-add:hover {
          background-color: #15c860; }
      .list-users-item__button-remove {
        display: none;
        font-size: .85em;
        background-color: #e74c3c;
        color: #fff;
        padding: .2rem .5rem;
        border: none;
        border-radius: .25rem; }
        .list-users-item__button-remove:hover {
          background-color: #c0392b; }

.search-users-new-group {
  margin-bottom: .25rem;
  font-size: .9em; }
  .search-users-new-group input {
    height: 2.5em; }

.loading-search-user-new-group {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem; }

.loading-search-user-new-group div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: .7rem;
  background: #1a449c;
  animation: loading-search-user-new-group 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.loading-search-user-new-group div:nth-child(1) {
  left: .5rem;
  animation-delay: -0.24s; }

.loading-search-user-new-group div:nth-child(2) {
  left: 1.5rem;
  animation-delay: -0.12s; }

.loading-search-user-new-group div:nth-child(3) {
  left: 2.5rem;
  animation-delay: 0; }

.form-new-group {
  display: none; }
