$color-white : #fff;
$color-gold : #d4af37;
$color-transparent : transparent;

$color-primary-light : #3498db;
$color-primary-light2 : #b7caed;
$color-primary : #007bff;
$color-primary-dark : #070be6;
$color-grey : #777;
$color-grey-light : #f7f7f7;
$color-dark : #323232;
$color-black : #000;
$color-google-plus : #dd4b39;
$color-facebook : #3b5998;

$color-facebook-bg-messenger : #09f;
$color-facebook-dark : #1a449c;
$color-facebook-dark-2 : #04266e;
$color-navbar-fb : #4267b2;
$color-icon-chat : #0392cf;
$color-red-primary : #e74c3c;
$color-red-primary-dark : #c0392b;
$color-red-dark : #d62e18;
$color-red-notification : #E1141E;

$color-disabled-icon:  #BEC3C9;
$color-disabled-text:  #BEC3C9;
$color-divider-on-wash:  #CCD0D5;
$color-divider-on-white : #DADDE1;

$color-dark-ui-medium-text:  #828282;
$color-dark-ui-nav-bar:  #1C1C1C;
$color-dark-ui-primary-icon:  #828282;
$color-dark-ui-primary-text:  #CCCCCC;
$color-dark-ui-secondary-icon:  #4A4A4A;
$color-dark-ui-secondary-text:  #4A4A4A;

$color-btn-success : #2ECC71;
$color-btn-background-success : #27ae60;

$color-comment-background:  #F2F3F5;
$color-dark-mode-gray-35:  #CCCCCC;
$color-dark-mode-gray-50:  #828282;
$color-dark-mode-gray-70:  #4A4A4A;
$color-dark-mode-gray-80:  #373737;
$color-dark-mode-gray-90:  #282828;
$color-dark-mode-gray-100:  #1C1C1C;
$color-dark-ui-card-border:  #282828;
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;

$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px; 
