.card-notifications{
  position : relative;
  height: 100%;
  width : 100%;
  margin: .5rem 0;
  &__item{
    display: flex ; 
    justify-content : flex-start;
    align-items: center;
    margin-bottom: .25rem;
    margin-left: .1rem;
    padding: .3rem;
    border-radius: .3rem;
    &:hover{
      cursor: pointer;
      background-color : $color-dark-mode-gray-35 !important;
    }
  }
  &__avatar{   
    margin : 0 .5rem;
    &-image{
      width : 3rem;
      height: 3rem;      
      border-radius : 50%;
    }
  }
  &__text{
    
    &--primary{
      font-size : .8em;
      &--username{        
        font-weight: 700;       
        color : $color-dark-mode-gray-90;
      }
    }
    &--sub{   
      font-size : .7em;
      color : $color-dark-mode-gray-50;
    }    
  }
  &__footer{
    text-align: center;
    font-size :1rem;
  }
}
