.group-avatar{ 
  margin-bottom : .5rem;
  display : flex ;
  flex-direction: column;
  align-items: center;
  &-image{
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 1px solid $color-icon-offline;
    &:hover{
      cursor: pointer;
      box-shadow : 0 .2rem .3rem rgba($color-black, .15);
      transform : scale(1.025)
    }
  }
  &-image-common{
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 1px solid $color-icon-offline;
  }
}

.group-info{
  &-legend{
    color : $color-red-dark ;
    font-weight: 700;
    font-size : 1.1em;
    text-align:center;
  }
  &-edit{
    width : 1.25rem;
    height : 1.25rem;
    background-color : $color-facebook-bg-messenger;
    padding : .3rem .4rem;
    border-radius : .2rem;
    color : $color-white;
    &:hover{
      cursor: pointer;
      background-color : $color-primary;
    }
  }
  &-text{
    font-weight : bold;  
    color : $color-facebook;
  }
}

.list-group-members{
  list-style : none ;
  margin : 1rem 0;
  &-item{  
    position :relative;
    background-color: $color-divider-on-white;
    display : flex; 
    align-self : sketc;
    align-items: center;
    width : 100%;
    padding : .3rem .75rem;
    border-radius: .25rem;
    min-height: 6rem;
    margin-bottom : .5rem;
    &:hover{
      background-color: $color-divider-on-wash;
      cursor: pointer;
    }
    &__avatar{
      width : 4rem ; 
      height : 4rem; 
      border-radius : 50%;
      border : 1px solid  $color-icon-offline;
      margin-right : 1.25rem;
      position : relative;
      &-dot{
        position : absolute;
        width : .5rem;
        height : .5rem;
        border-radius : 50%;
        background-color : $color-icon-offline;
        bottom : .35rem;
        right: .2rem;
      }
      &-image{
        width : 100%;
        height : 100%;
        border-radius : 50%;
      }
    }
    &__info{
      display : flex ; 
      flex-direction:  column;
      flex-wrap: nowrap;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;   
      &--username {
        font-weight: 700;
      }
      &--join-date{
        font-size : .9em;
        color : rgba($color-black, .7);
      }
    }
    &__config--setting{
      height : 1.5rem;
      width : 1.5rem ;
      position :absolute;
      background-color : transparent;
      top : .5rem;
      right :.25rem;
      &-icon{
        width  :100%;
        height : 100%;        
        opacity: .6;
        color : $color-divider-on-white;
        &:hover{
          cursor: pointer;
          opacity: 1;
        }
      }         
    } 
    &__button{
      position : absolute ;
      bottom : 1rem;
      right: .5rem;
    }    
  }
}

