.notification{
  position : absolute;
  top : 2.75rem;
  right : 1.5rem;
  width : 25rem;
  height : 30rem;
  font-size : 1rem;
  background-color : $color-white;  
  box-shadow: 0 .2rem .4rem rgba($color-black, .15);
  padding : .3rem .5rem;
  z-index : 99;
  display : none;
  &__header{
    display :flex ; 
    font-size: .88em;
    justify-content: space-between;    
    &--link a:not(last-child){    
      margin-right : .5rem;
    }    
  }
  &__body{
    height: 88%;
    width: 100%;  
    overflow: auto;     
  }
  &::before{
    content : "";
    position : absolute;    
    top: -1.75rem;
    right: 0;    
    border : 1rem solid yellow;
    border-color: transparent transparent $color-white transparent;
  }
  & a{
    color: $color-facebook-dark;
  }
  &-loading{
    display:none;
    position: relative;
    width: 3rem;
    height: 3rem;
    left: 50%;
    transform: translateX(-50%);
    & div{
      box-sizing: border-box;
      display: block;
      position: absolute  ;
      width: 2rem;
      height: 2rem;
  
      margin: .5rem;
      border: .25rem solid $color-facebook-dark;
      border-radius: 50%;
      animation: notification-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $color-facebook-dark transparent transparent transparent;
      &:nth-child(1){
        animation-delay: -0.45s;
      }
      &:nth-child(2){
        animation-delay: -0.3s;
      }
      &:nth-child(3){
        animation-delay: -0.15s;
      }
    }
  }
}
