.password-setting{
  margin: 1.5rem 0; 
  &__alert{
    @include mobile{
      width : 100%;
    }
    @include tablet{
      width : 80%;
      margin : auto;
    }
    @include desktop{
      width : 50%;    
      margin : 0 10%;
    }
  }
  &__form{
    &-label{
      @include mobile{
        text-align: left;
      }
      @include tablet{
        text-align: left;
      }
      @include desktop{
        text-align: right;
      }
    }   
  }
}
