.password-setting{
  margin: 1.5rem 0; 
  &__form{
    &-label{
      @include mobile{
        text-align: left;
      }
      @include tablet{
        text-align: left;
      }
      @include desktop{
        text-align: right;
      }
    }   
  }
}
