.right-side{
  background-color: $color-white;
  height: 100%;
  &__screen{
    height : 100%;
    width : 100%;  
    background-color : $color-white;
    z-index : 10;
  }
  &__top{
    background-color : $color-divider-on-white;
    height :10%;
    padding : .5rem 1.5rem; 
    &--leftside{
      float : left ; 
      &-avatar{
        float : left ;
        display : inline-block;
        margin-top: 5%;
        position : relative;
        width : 2.1rem ;
        height : 2.1rem ; 
        border-radius : 50%;
        border : 1px solid $color-icon-offline;       
        &--image{
          width : 100% ;
          height : 100% ; 
          border-radius : 50%;     
          vertical-align: middle;     
        }
        &--dot{
          position : absolute;
          bottom : 1%;
          right :8%;
          width : .55rem ;
          height : .55rem;
          border-radius : 50%;
          background-color : $color-icon-offline;
        }
      }
      &-username-status{
        float : left ;
        margin-left : .6rem;
        display : flex ;
        flex-direction: column;                
      }
      &-username{
        font-size : .95em;
        font-weight: 700;
      }
      &-status{
        font-size : .87em;
        color :$color-dark-ui-secondary-text;
      }
    }
    &--rightside{
      float: right;      
      &-item{
        display : inline-block;
        margin-top : 5%;
        &:not(:last-child){
          margin-right : 1.5rem;
        }
      }
    }
    &::after{
      content : "" ;
      clear : both ; 
      display :table;
    }
  }
  &__middle{
    height: 74%;
    padding : .5rem;  
    width : 100%;  
    position : relative;
    &-content{
      border : 1px solid $color-dark-mode-gray-35;
      height: 100%;      
      padding : .5rem 1.25rem;      
      overflow : auto;
      position :relative; 
      &-avatar{
        position : absolute;
        height: 1.5rem;
        width : 1.5rem;
        border-radius: 50% ;
        &--me{
          top : 20%;
          right : -2rem;                    
        }
        
        &--you{          
          top : 20%;
          left: -2rem;          
        }
      }
      &--me{
        float : right ;       
        margin-right : 2.5rem;        
        &.bubble{         
          & a{
            float: right ;           
            margin : .5rem;
          }          
        }
      }
      &--you{
        float : left ;       
        margin-left :2.5rem;        
        &.bubble{                   
          & a{
            float : left;                        
            margin : .5rem;
          }
        }
      }
      &-messenger-text{
        padding : .5rem .75rem;
        border-radius: .5rem; 
        display: inline-block;       
        &--you{
          background-color :$color-dark-ui-primary-text;  
          color : $color-black;
          float : left ;
        }  
        &--me{
          background-color :$color-facebook-bg-messenger;
          color : $color-white;   
          float : right ;      
        }
      }
    }
  }
  &__bottom{
    height: 15%;
    margin : 0 0.5rem;
    padding: 0.05rem ;    
    border-radius: .2rem;
    background-color : $color-comment-background;
    &-write{
      width : 100%;
      height: 70%;
      font-size: 1rem;
      float: left;   
      padding: 0 10px;
      color: #1a1a1a;
      border: 0;
      outline: none;
      background-color: #eceff1;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      resize:  none;
    }
    &-icons{    
      height: 30%;
      &-item{
        float : left ;
        font-size: 1.25rem;       
        color : $color-icon-chat;        
        & a{
          color : $color-icon-chat;
        }
        & label{
          cursor : pointer;        
        }                
        &:not(:last-child){
          margin-right : 1rem;
        }        
        &:hover{
          color :  $color-icon-chat!important;
        }
      }
    }
  }
  
}

.bubble{
  max-width: 46%;
  word-wrap: break-word;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  clear: both;
  margin-top: .5rem;
  margin-bottom: .5rem;
  // padding: 1rem;
  vertical-align: top;
  border-radius: .25rem;
  &-image-file{
    background-color: $color-white;
  }
  &-attachment-file{
    padding : 0 ;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &-gif-icon{
    position :relative;
    bottom: -2rem;
    left : -3.25rem;
    background-color : $color-white !important;
    
    color : $color-facebook-dark;
    &::before{
      background-color : transparent !important;
    }
    // & img{
    //   position : absolute;
    //   margin-left :-1.5rem;
    //   width : 6rem;    
    //   background-color : transparent !important;
    // }
    & span{
      display : inline-block;
      font-size :.8em
    }
    
    &-dot{
      font-size: 1em;    
      position: absolute;
      &--1{
        animation: gif-icon-dot1 1s;
        animation-iteration-count: infinite;
      }
      &--2{
        animation: gif-icon-dot2 1s;
        animation-fill-mode: backwards;
        animation-delay: 1s;       
        animation-iteration-count: infinite;
      }
      &--3{
        animation: gif-icon-dot3 1s;
        animation-delay: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;
      }
    }    
  
  }
}

.show-image-file{
  max-width : 90%;
  max-height: 25rem;
}

.screen-chat{
  height: 100%;
  width : 100%;
  background-color : $color-dark-mode-gray-35;
}

.status-messenger{
  display : inline-block ; 
  margin: 0rem .3rem;
  font-size: .8em;
  color : $color-dark-ui-medium-text;
  font-style: italic;
  &--you{
    text-align: left;
  }
  &--me{
    float : right;
    text-align: right;
  }
  &--avatar{
    width : 1rem;
    height :1rem ; 
    border-radius: 50%;
  }
}

.all-images{
  background-color : $color-divider-on-white;
  height : 100%;
  & > img{
    background-color :transparent;
  }
}

.modal-attachment-libraries{
  & a{
    display : block ; 
    text-decoration: underline;
    margin-bottom : 1rem;
    margin-left : 2rem;

  }
}

.loading-read-more-messengers {
  display: block;
  position: relative;
  left : 50% ;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  margin-bottom: 2rem;
}
.loading-read-more-messengers div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: $color-facebook-bg-messenger;
  animation: loading-read-more-messengers 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-read-more-messengers div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-read-more-messengers div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-read-more-messengers div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

