<%if (errors.length) {%> 
  <% errors.forEach(error =>{ %>   
    <script>showRegisterForm();</script> 
    <div class="alert alert-danger" role="alert">        
      <%- error %>
    </div>
  <%})%>
<%}%>

<% if(success.length) { %>
  <% success.forEach( (successItem) => { %>
    <div class="alert alert-success" role="alert">
      <%- successItem %>
    </div>
  <%})%>
<%}%>
