<%if (errors.length) {%> 
  <% errors.forEach(error =>{ %>   
    <script>showRegisterForm();</script> 
    <div class="alert alert-danger error" role="alert">        
      <%- error %>
    </div>
  <%})%>
<%}%>

<% if(success.length) { %>
  <% success.forEach( (successItem) => { %>
    <div class="alert alert-success success" role="alert">
      <%- successItem %>
    </div>
  <%})%>
<%}%>

<% if(activeSuccess != ""){ %>  
  <script>showLoginForm();</script> 
    <div class="alert alert-success activeSuccess" role="alert">
      <%- activeSuccess %>
    </div>
<%}%>
<% if(activeErrors != "") { %>  
  <script>showLoginForm();</script> 
    <div class="alert alert-danger activeErrors" role="alert">
      <%- activeErrors %>
    </div>
<%}%>


