.section-navbar{
  background-color : $color-navbar-fb !important;
  height : 2.75rem;
  position: relative;
  padding : 0.5rem;  
}

.section-main{
  margin:  0 ;
  padding : 0 ; 
  height: calc(100% - 2.75rem); 
}

.left-side{
  height: 100%;  
  overflow: auto;
  border-right : 1px solid $color-dark-mode-gray-35;
  margin:  0 ;
  padding : 0;
}
.right-side{
  height: 100%;
  padding : 0;
  margin : 0;
  overflow: hidden;
}
