<div class="col-12 col-sm-4 col-lg-4 col-xl-3 left-side">
  <div class="left-side__setting">
      <select class="custom-select w-75" id="select-type-chat">
        <option value="all-chat">Toàn bộ trò chuyện</option>
        <option value="private-chat">Trò chuyện cá nhân</option>
        <option value="group-chat">Trò chuyện nhóm</option>
      </select>
      <a href="#modalGroupChat" class="btn-create-group-chat" id="btn-create-group-chat" data-toggle="modal"><i class="fas fa-edit"></i></a>				
  </div>
  <div class="left-side__content">
    <ul class="list-messenger-users">					
      <li class="list-messenger-users__item">
        <div class="list-messenger-users__item-avatar">
          <img src="images/bg_01.jpg" class="list-messenger-users__item-avatar-image">
        </div>
        <div class="list-messenger-users__item-text">
          <div class="list-messenger-users__item-text--username">
            maivthang
          </div>
          <div class="list-messenger-users__item-text--chat">
            Hello xin chao ban, rat vui duoc lam quen voi ban
          </div>						
        </div>
        <div class="list-messenger-users__item-timer">
          vài giây trước
        </div>
      </li>
      <li class="list-messenger-users__item">
        <div class="list-messenger-users__item-avatar">
          <img src="images/bg_01.jpg" class="list-messenger-users__item-avatar-image">
        </div>
        <div class="list-messenger-users__item-text">
          <div class="list-messenger-users__item-text--username">
            maivthang
          </div>
          <div class="list-messenger-users__item-text--chat">
            Hello xin chao ban, rat vui duoc lam quen voi ban
          </div>						
        </div>
        <div class="list-messenger-users__item-timer">
          vài giây trước
        </div>
      </li>
      <li class="list-messenger-users__item">
        <div class="list-messenger-users__item-avatar">
          <img src="images/bg_01.jpg" class="list-messenger-users__item-avatar-image">
        </div>
        <div class="list-messenger-users__item-text">
          <div class="list-messenger-users__item-text--username">
            maivthang
          </div>
          <div class="list-messenger-users__item-text--chat">
            Hello xin chao ban, rat vui duoc lam quen voi ban
          </div>						
        </div>
        <div class="list-messenger-users__item-timer">
          vài giây trước
        </div>
      </li>
      <li class="list-messenger-users__item">
        <div class="list-messenger-users__item-avatar">
          <img src="images/bg_01.jpg" class="list-messenger-users__item-avatar-image">
        </div>
        <div class="list-messenger-users__item-text">
          <div class="list-messenger-users__item-text--username">
            maivthang
          </div>
          <div class="list-messenger-users__item-text--chat">
            Hello xin chao ban, rat vui duoc lam quen voi ban
          </div>						
        </div>
        <div class="list-messenger-users__item-timer">
          vài giây trước
        </div>
      </li>
      <li class="list-messenger-users__item">
        <div class="list-messenger-users__item-avatar">
          <img src="images/bg_01.jpg" class="list-messenger-users__item-avatar-image">
        </div>
        <div class="list-messenger-users__item-text">
          <div class="list-messenger-users__item-text--username">
            maivthang
          </div>
          <div class="list-messenger-users__item-text--chat">
            Hello xin chao ban, rat vui duoc lam quen voi ban
          </div>						
        </div>
        <div class="list-messenger-users__item-timer">
          vài giây trước
        </div>
      </li>
      <li class="list-messenger-users__item">
        <div class="list-messenger-users__item-avatar">
          <img src="images/bg_01.jpg" class="list-messenger-users__item-avatar-image">
        </div>
        <div class="list-messenger-users__item-text">
          <div class="list-messenger-users__item-text--username">
            maivthang
          </div>
          <div class="list-messenger-users__item-text--chat">
            Hello xin chao ban, rat vui duoc lam quen voi ban
          </div>						
        </div>
        <div class="list-messenger-users__item-timer">
          vài giây trước
        </div>
      </li>
      <li class="list-messenger-users__item">
        <div class="list-messenger-users__item-avatar">
          <img src="images/bg_01.jpg" class="list-messenger-users__item-avatar-image">
        </div>
        <div class="list-messenger-users__item-text">
          <div class="list-messenger-users__item-text--username">
            maivthang
          </div>
          <div class="list-messenger-users__item-text--chat">
            Hello xin chao ban, rat vui duoc lam quen voi ban
          </div>						
        </div>
        <div class="list-messenger-users__item-timer">
          vài giây trước
        </div>
      </li>																														
    </ul>
  </div>			
</div>