<% extend('../master') %>
<section class="row section-main">
  <!-- Section leftside -->
    <%- include("sections/leftSide") %>
  <!-- section rightside -->
    <%- include("sections/rightSide") %>
</section>